.container {
  position: relative;
  margin: 0 auto;
  width: 265px;
  height: 370px;
  /* background-color: green; */
  justify-content: center;
  align-items: center;
}
.front, .back {
  position: absolute;
}


.front {
  top: 0;
  left: 0;
  z-index: 0;

  transform: rotateY(-90deg);
  transition: 2s;
  transform-style: preserve-3d;
}
.back {
  top: 0;
  left: 0;
  /* z-index: 1; */
}

.container:hover .front {
  z-index: 3;
  
  transform: rotateY(0deg);
  transition: 3s;
  transform-style: preserve-3d;
}

.container:hover .back {
  transform: rotateY(180deg);
  transition: 2s;
  transform-style: preserve-3d;
  transform: hi;
}