.container {
  position: relative;
  margin: 0 auto;
  width: 265px;
  height: 370px;
  /* background-color: green; */
  justify-content: center;
  align-items: center;
}
.front, .back {
  position: absolute;
}


.front {
  top: 0;
  left: 0;
  z-index: 0;
}
.back {
  scale: 0.254;
  transform: translate(-146%, -147%);
}

.container:hover .front {
  z-index: 3;
}